form {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	border: 1px solid red;
	border-radius: 30px;
	padding: 40px 30px;
}
.content{
	border: 1px solid red;
	border-radius: 30px;
	padding: 20px;
}